/* You can add global styles to this file, and also import other style files */

@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

.author { float: left; padding-right: 0.5em; color: red; }
.body { float: left; }



.trader{
  background-color: lightgreen;
}
.sales {
  background-color: orange;
}

.message {
  display: block;
}
