/* You can add global styles to this file, and also import other style files */

@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

.author { float: left; padding-right: 0.5em; color: red; }
.body { float: left; }


.trader{
  background-color: lightgreen;
}
.validated {
  background-color: green;
  color: lightgrey;
}
.validatedBuddy {
  background-color: green;
  color: lightgrey;
  font-weight: bold;
  font-size: 120%;
  text-decoration: underline;
}

.sales {
  background-color: orange;
}

.recent {
  animation: recent-animation 3s 4;
}

@-webkit-keyframes recent-animation {
  25%,74% {
    background-color: red;
  }
}

.lost {
  background-color: grey;
  color: lightgrey;
  animation:         lost-ANIMATION 1s 3; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes lost-ANIMATION {
  0%, 49% {
    background-color: lightgrey;
    color: black;
  }
  50%, 100% {
    background-color: grey;
  }
}


.traded {
  background-color: blue;
  color: lightgrey;
}

.message {
  display: block;
}

.grid-right-align {
    text-align: right;
}
