{{ role }}
<button (click)="switchRole()">SwitchRole</button>
<button (click)="getSelectedRows()">Get Selected Rows</button>
<button (click)="addEmptyRow()">Add row</button>
<button (click)="duplicateRow()">Duplicate row</button>
<ag-grid-angular
  #agGrid
  style="width: 500px; height: 500px;"
  class="ag-theme-balham"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  colSelection="true"
  rowSelection="multiple"
  [navigateToNextCell]="myNavigation"
>
  <!--
  rowMultiSelectWithClick="true"
    [rowData]="rowData | async"

   -->
</ag-grid-angular>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <div class="chat-container">
    <div class="chat">
      <div class="message"></div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="send-button">

    <div class="send" (click)="sendMessage(name.value, input.value)">
    </div>
    <input  id="name" type="text" #name>
    <input  id="input" type="text" #input>

  </div>

</div>
