
.chat-container{
  height: 400px;
#  width: 100vw;
  width: 1400px;
}
.chat{
  float: left;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  overflow: scroll;
}

ag-grid-angular {
  float: left;
}

.footer{
  background: #cccccc;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100vw;
}
.send-button{
  margin: 0 auto;
  height: 70%;
  width: 50%;
}
input.chat{
  #float: left;
  height: 30px;
  width: 60%;
  border-radius: 15px;
  font-size: 1.5em;
}
.send{
  float: left;
  background: url("../assets/images/send.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 5px;
}


.trader{
  color:red;
}
.validated {
  color: blue;
}
