<hr />
<div>POC Settings zone: I am a {{ role }}<button (click)="switchRole()">SwitchRole</button>
  <div style="float: right">Name: <input [(ngModel)]="myName" /> <button (click)="switchName()">Random</button></div>
  <div style="float: right">Chat color: <input [(ngModel)]="clientColor" [style.color]="clientColor"/><button (click)="switchColor()">Random</button></div>
</div>
<hr />
<div>
<!--<button (click)="getSelectedRows()">Get Selected Rows</button>-->
<button (click)="addEmptyRow()">New RfQ</button>
<button (click)="duplicateRow()">Duplicate RfQ</button>
<button (click)="deleteSelectedRows()" *ngIf="role == 'SALES'">Delete selected RfQs</button>
<button (click)="validateSelectedRows()" *ngIf="role == 'TRADER'">Validate selected RfQs</button>
<button (click)="executeSelectedRows()" *ngIf="role == 'SALES'">Execute selected RfQs</button>
</div>
<ag-grid-angular
  #agGrid
  style="width: 1450px; height: 400px; overflow: scroll"
  class="ag-theme-balham"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  colSelection="true"
  rowSelection="multiple"
  [navigateToNextCell]="myNavigation"
  rowMultiSelectWithClick="true"
  (cellValueChanged)="onCellValueChanged($event)"
>
  <!--
    [rowData]="rowData | async"

   -->
</ag-grid-angular>
<div>
  <div>
  <div class="send-button">

    <input  id="name" type="hidden" value="{{ myName }} ({{role}})" #name />              <!-- {{ clientId }} -->
    <input class="chat" id="input" type="text" #input (keyup.enter)="sendMessage(name.value, input.value)" />
    <div class="send" (click)="sendMessage(name.value, input.value)">
    </div>
    <br/>

  </div>
  </div>
  <div class="chat-container" style="text-align:center">
    <div class="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div class="message"></div>
    </div>
  </div>
</div>

<!--<div class="footer">-->

<!--</div>-->
