<hr />
<div>POC Settings zone: I am a {{ role }}<button (click)="switchRole()">SwitchRole</button>
  <div style="float: right">Chat color: <input [(ngModel)]="clientColor" [style.color]="clientColor"/><button (click)="switchColor()">Change</button></div>
</div>
<hr />
<div>
<button (click)="getSelectedRows()">Get Selected Rows</button>
<button (click)="addEmptyRow()">Add row</button>
<button (click)="duplicateRow()">Duplicate row</button>
<button (click)="deleteSelectedRows()" *ngIf="role == 'SALES'">Delete selected rows</button>
<button (click)="executeSelectedRows()" *ngIf="role == 'SALES'">Execute selected rows</button>
</div>
<ag-grid-angular
  #agGrid
  style="width: 1400px; height: 300px; overflow: scroll"
  class="ag-theme-balham"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  colSelection="true"
  rowSelection="multiple"
  [navigateToNextCell]="myNavigation"
  rowMultiSelectWithClick="true"
  (cellValueChanged)="onCellValueChanged($event)"
>
  <!--
    [rowData]="rowData | async"

   -->
</ag-grid-angular>
<div style="text-align:center">
  <div class="chat-container">
    <div class="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div class="message"></div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="send-button">

    <div class="send" (click)="sendMessage(name.value, input.value)">
    </div>
    <input  id="name" type="hidden" value="{{ role }}" #name />              <!-- {{ clientId }} -->
    <input class="chat" id="input" type="text" #input (keyup.enter)="sendMessage(name.value, input.value)" />

  </div>

</div>
